body {
  margin: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* for development*/ 
   /* position : None; */ 
  /* FOr production */
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
